body {
	margin: 0;
	padding: 0;
	background-color: #EAECEE;
	font-family: Verdana, sans-serif;
	font-size: 0.9em;
}

#container {
	margin: 0 auto;
	padding: 5px 5px 5px 5px;
	width: 600px;
	background-color: #FFFFFF;
}

#header {
	background: #FFFFFF
		url(#{request.contextPath}/resources/images/header.png) no-repeat;
	height: 179px;
	padding: 5px 5px 5px 5px;
}

#footer {
	clear: both;
	text-align: center;
	color: #666666;
	font-size: 0.85em;
	padding: 3em 0 0 0;
